.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin-top: 5vh;
  
}
.header div {
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
#userSearch {
  width: 20vw;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: gray;
}
#New{
  width: 10vw;
  background-color: aliceblue;
  border: none;
  border-radius: 5px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}